<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="{{request.user.profile.profile_picture.url}}" alt="" style="height: 20%;width: 20%;">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form}}
            <button type="submit">Edit Profile</button>
        </form>
    </div>


</body>
</html>